.container{
    color: aquamarine;
    background-color: black;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.nav{
    background-color: rgb(167, 240, 215);
    color: black;
    padding: 3%;
    margin: 10px;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.blue{
    background-color: rgb(22, 204, 236);
    color: black;
}
.pink{
    background-color: rgb(164, 84, 204);
    color: black;
}
.Elemento-flex{
    width: 150px;
    height: 150px;
    border: 3px solid rgb(22, 194, 206);
    background-color: rgb(151, 231, 225);
}
.contenedor{
    display:flex;
    justify-content: baseline;
    width: 500px;
    height: 500px;
    align-items: center;
    border: 4px solid salmon;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    text-align: end;
    flex-direction: column;
}